In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [64]:
#Create a high level snapshot (in table form) of the district's key metrics
#Isolate the district data from df
district_data_df = school_data_df.loc[school_data_df["type"]== "District" ]
#Create variables for district_key_metrics_table

#Total Schools
district_total_schools = len(district_data_df["school_name"].unique())
#Total Students
district_total_students = district_data_df["student_name"].count()
#Total Budget- Filter the budget by the school name & sum the total
#district_schools_list = [district_data_df["school_name"].unique()]
schools_total_budget_df = district_data_df[["budget","school_name"]].drop_duplicates()
district_total_budget = schools_total_budget_df["budget"].sum()
#Average Math Score
avg_math_score = district_data_df["math_score"].mean()
#Average Reading Score
avg_reading_score = district_data_df["reading_score"].mean()
#% Passing Math
#create bins for pass/fail
#percent_pass_math = 
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [27]:
district_total_schools

7

In [31]:
district_total_students

26976

In [65]:
district_total_budget

17347923

In [66]:

avg_reading_score

80.96248517200475

In [67]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500